/* SMALL SCREENS */
/* QUOTE */
.quote {
  max-width: 100vmin;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.quote:hover {
  transform: translateY(-14px);
  transition: 300ms;
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px 0 0 15px;
}

/* QUOTE IMG */
.quote-img {
  margin: 0 auto;
  object-fit: cover;
  object-position: center;
  border-radius: 15px;
  width: 18vmin;
  height: 18vmin;
}

/* QUOTE BODY */
.quote-body {
  width: 100%;
  font-size: 2vmin;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.quote-body .text {
  text-align: justify;
  color: #686767;
} 

/* QUOTE DESC */
.quote-body__desc {
  padding: 2px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  color: #C5A25D;
}

.quote-body__desc .item:hover {
  text-decoration: underline;
}

.quote-body__desc .item:first-child {
  margin-right: 8px;
}

/* MEDIUM SCREENS */
@media only screen and (min-width: 700px) {
  /* QUOTE */
  .quote {
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    transition: 300ms;
  }

  /* QUOTE BODY */
  .quote-body {
    padding: 4px;
    display: flex;  
    flex-direction: column;
    justify-content: space-between;
  }
}